<html lang="en">
  <head>
    <title>Jupez - Live Trends</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="nav navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/">
            <div class="navbar-brand">
                jupez
            </div>
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="/jupes" class="nav-link">jupes</a>
            </li>
        </ul>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {{user}}
  </body>
</html>